# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 100

[*.json]
indent_size = 2
keep_blank_lines_in_code = 0
keep_indents_on_empty_lines = false
keep_line_breaks = true
space_after_colon = true
space_after_comma = true
space_before_colon = true
space_before_comma = false
spaces_within_braces = false
spaces_within_brackets = false
wrap_long_lines = false
insert_final_newline = ignore

[Makefile]
indent_style = tab

[{*.bash,*.zsh,*.sh,*.bats}]
tab_width = 4
binary_ops_start_line = false
keep_column_alignment_padding = false
minify_program = false
redirect_followed_by_space = false
switch_cases_indented = false

[{*.yml,*.yaml}]
indent_size = 2
keep_indents_on_empty_lines = false
keep_line_breaks = true
