cmake-build-*/
build/
.vscode/
.mypy_cache/
.lsync*
venv/
**/__pycache__/
base.json
rvzr/arch/x86/*.json
*.code-workspace
*.o
rvzr/generated.asm
generated.asm
generated
rvzr/executor_km/.cache.mk
rvzr/executor_km/measurement.o.ur-safe
dbg/
site
dist/
.cache/
*.asm
*.bin
*.dat
