cmake-build-*/
build/
.vscode/
.mypy_cache/
.lsync*
venv/
**/__pycache__/
base.json
src/x86/*.json
*.code-workspace
*.o
src/generated.asm
src/x86/executor/.cache.mk
src/x86/executor/measurement.o.ur-safe
dbg/
site
dist/
