---
site_name: Revizor
site_url: https://github.com/microsoft/sca-fuzzer
site_author: Microsoft
site_description: A security-oriented tool for testing CPUs and detecting microarchitectural leaks like Spectre and Meltdown
copyright: 'Copyright &copy; 2024 Microsoft'

repo_name: microsoft/sca-fuzzer
repo_url: https://github.com/microsoft/sca-fuzzer

theme:
  name: material
  font:
    text: Inter
    code: Inter Mono
  custom_dir: mkdocs-overrides
  logo: assets/ms_icon.png
  favicon: assets/ms_icon.png
  palette:
    primary: indigo
  features:
    - navigation.instant
    - navigation.tabs
    - search.share

extra_css:
  - stylesheets/extra.css

plugins:
  - search

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - meta
  - admonition
  - pymdownx.highlight
  - pymdownx.pathconverter
  - pymdownx.tabbed
  - pymdownx.tasklist

nav:
  - Home: index.md
  - Quick Start: quick-start.md
  - Theoretical Foundations: contracts.md
  - User Documentation:
    - Command Line Interface: user/cli.md
    - Modes of Operation: user/modes.md
    - Configuration Options: user/config.md
    - Minimization Passes: user/minimization.md
    - Actors: user/actors.md
    - Templates: user/templates.md
    - Macros: user/macros.md
  - Developer Documentation:
    - Development Guidelines:
      - General Guidelines: devel/guidelines-general.md
      - Code Style: devel/guidelines-code-style.md
      - Git Workflow: devel/guidelines-git.md
    - Architecture and Modules:
      - Overview: devel/arch-overview.md
      - Code Structure: devel/code-structure.md
      - Orchestration: devel/arch-fuzz.md
      - ISA specification: devel/arch-isa.md
      - Test Case Code Generation: devel/arch-code.md
      - Test Case Data Generation: devel/arch-data.md
      - Hardware Tracing: devel/arch-exec.md
      - Contract Tracing: devel/arch-model.md
      - Trace Analysis: devel/arch-analysis.md
      - Minimization: devel/arch-mini.md
      - Logging: devel/arch-logging.md
    - Contract Modeling Backends:
      - Unicorn Backend: devel/model-unicorn.md
      - DynamoRIO Backend: devel/model-dr.md
    - Advanced Topics:
      - Register Allocation: devel/registers.md
      - Test Case Sandbox: devel/sandbox.md
      - Macros: devel/macros.md
      - Binary Formats: devel/binary-formats.md
  - Tutorials:
    - Designing a Revizor Fuzzing Campaign: tutorials/fuzzing-campaign.md
    - Root-Causing a Violation Detected by Revizor: tutorials/root-causing.md
    - Detecting TSA-SQ with Revizor: tutorials/tsa-sq.md
  # - Trophies: trophies.md
